<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="header">
		<div class="logo">
            <div class="title">CLOUD MANAGEMENT FOR  RUCKUS NETWORK SERVICES</div>
		</div> 		
</div>

<div class="row" style="clear:both;margin:0px!important;">
  	<div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="account-wall">   
        <div class="panel-group">
        <div class="panel panel-default">            
        <div class="panel-body">    
        <h4 style="float:left;">Reset Password</h4>
        <hr style="clear:both;">     
                       
        <div *ngIf = "isReset==1 || isReset==0 || isReset==3;">        
        <form [formGroup]="validatingForm" #f="ngForm" (ngSubmit)="onSubmit(f.value)">	
              
        <div class="alert alert-danger" *ngIf="isReset==0 && !validatingForm.controls['email'].touched">You have not provided the email id. Please provide an email id.</div>

        <div class="alert alert-danger" *ngIf="isReset==3">No user with this e-mail address exists in the database.</div>

        <mdb-error *ngIf="validatingForm.controls['email'].touched || isReset==0">									
           <div class="alert alert-warning" *ngIf="validatingForm.controls['email'].errors?.email">Please provide a valid email.</div>
           <div class="alert alert-warning" *ngIf="validatingForm.controls['email'].errors?.required && !isReset==0">Please provide an email.</div>
        </mdb-error>
    
        <div class="md-form" style="padding: 10px 0px;">
           <input type="email" placeholder="Email" mdbInputDirective  id="emailId" class="form-control" data-error="" data-success="" formControlName="email">
        </div>

        <mdb-success *ngIf="(!validatingForm.controls['email'].touched) || (!validatingForm.controls['email'].errors?.email && !validatingForm.controls['email'].errors?.required);else elseBlock">
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="ForgotPassword">Reset</button>
        </mdb-success>

        <ng-template #elseBlock>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="ForgotPassword" disabled="true">Reset</button>					
        </ng-template>
            
        <a routerLink="/login" style="line-height: 24px;float:right;margin-top:10px;">Login again</a>

        </form>
        </div>      

        <div *ngIf = "isReset==2;">
            <form class="form-signin">	
            <div class="alert alert-success">Your password recovery key has been sent to your e-mail address.</div>
            <a routerLink="/login" style="line-height: 24px;float:right;margin-top:10px;">Login again</a>   
            </form>
        </div>
      
        </div>
        </div>
        </div>
        </div>
    </div>
</div>
<footer>© 2005-2018  Ruckus Networks, an ARRIS Company. All rights reserved.</footer>
<ngx-spinner></ngx-spinner>