<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="header">
        <div class="logo">        
            <div class="title">CLOUD MANAGEMENT FOR  RUCKUS NETWORK SERVICES</div>
        </div> 
</div>
<div class="row">
	<div class="col-sm-3"></div>
    <div class="col-sm-6">        
        <div class="account-wall"s>					
        <div class="panel-group">
        <div class="panel panel-default">            
        <div class="panel-body">   
        <h4 style="float:left;">Change Password</h4>
        <hr style="clear:both;">        
        Welcome {{username}}. <br><Br>This is your first login therefore please set your password.
        <form  *ngIf="!output;else resetted;" class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f.value)">				
        <input type="password" class="form-control" placeholder="Password" required name="password" ngModel>
        <input type="password" class="form-control"  name="confirmpassword"  placeholder="Confirm Password" required ngModel>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>			
        
        <ng-template #resetted>
            &nbsp;&nbsp;&nbsp;&nbsp;Your password has been reset.&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink='/login'>Login again</a>
        </ng-template>        
        </div>
        </div>
        </div>
		</div>
	</div>
</div>

<footer>© 2005-2018  Ruckus Networks, an ARRIS Company. All rights reserved.</footer>