<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="header">
        <div class="logo">        
            <div class="title">CLOUD MANAGEMENT FOR  RUCKUS NETWORK SERVICES</div>
        </div> 
</div>
<div class="row">
	<div class="col-sm-3"></div>
    <div class="col-sm-6">        
        <div class="account-wall">					
        <div class="panel-group">
        <div class="panel panel-default">            
        <div class="panel-body">   
        <h4 style="float:left;">Change Password</h4>
        <hr style="clear:both;">
        
        <p *ngIf='output==""'>Welcome {{username}}. Please set your account password.</p>
        
        <div *ngIf="output">
            <form class="form-signin">	
                <div class="alert alert-success">{{output}}</div>                
            </form>
        </div>   
        
        <form *ngIf='!success' [formGroup]="validatingForm" #f="ngForm" (ngSubmit)="onSubmit(f.value)">	
                  
        <mdb-error *ngIf="validatingForm.controls['password'].touched">
            <div class="alert alert-warning" *ngIf="validatingForm.controls['password'].errors?.required">Please provide your new password.</div>
        </mdb-error>				
    
        <mdb-error *ngIf="validatingForm.controls['confirmPassword'].touched">
            <div class="alert alert-warning" *ngIf="validatingForm.controls['confirmPassword'].errors?.required">Please confirm your new password.</div>
        </mdb-error>
        
        <div class="alert alert-danger" *ngIf="!matched">Your passwords do not match.</div>

        <div class="md-form" style="padding:10px 0px;">
          <input type="password" class="form-control" placeholder="Password" mdbInputDirective required data-error="" data-success="" formControlName="password" name="password">
        </div>
        
        <div class="md-form" style="padding:10px 0px;">
          <input type="password" class="form-control" placeholder="Confirm Password" mdbInputDirective required data-error="" data-success="" formControlName="confirmPassword" name="confirmPassword">
        </div>
   
        <mdb-success *ngIf=" (!validatingForm.controls['password'].errors?.required && !validatingForm.controls['confirmPassword'].errors?.required);else elseBlock">
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="changePassword">Submit</button>
        </mdb-success>
    
        <ng-template #elseBlock>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="changePassword" disabled="true">Submit</button>
        </ng-template>
                    
        </form>
        
        <a routerLink="/login" style="line-height: 24px;float:right;margin-top:10px;">Login again</a>                       
        </div>
        </div>
        </div>
		</div>
	</div>
</div>

<footer>© 2005-2018  Ruckus Networks, an ARRIS Company. All rights reserved.</footer>