<div class="wrapper">

  <div class="header">    
        <div class="logo">
          <a tabindex="-1" href="#" class="hamburger"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
          <div class="title">CLOUD MANAGEMENT FOR  RUCKUS NETWORK SERVICES</div>
          <ul class="header-right">      
              <li id="logoutBtn">{{username}}&nbsp;<a routerLink="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
              <div class="logout"><a routerLink="/logout">Logout</a></div>
              </li>      
            </ul>
        </div> 
  </div>

  <div class="col-lg-12">      
      <ul class="sideMenu">    
          <li>              
            <ul class="first-level"> 
               <li class="dropdown-submenu active" style="padding-top:5px!important;">
                    <a routerLink="/dashboard" tabindex="-1" href="#">
                          <span class="glyphicon glyphicon-dashboard"></span><br>
                          Dashboard </a>                        
               </li>                             
            </ul>
          </li>              
          <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight: bold;color: #a0a0a0;">            
            FEATURES  </a>
              <ul class="first-level"> 
                <li class="dropdown-submenu" *ngIf='showLBS==true'>
                  <a class="test" tabindex="-1" href="#" >
                    <span class="glyphicon glyphicon-map-marker"></span><br>
                    Location </a>
                  <ul class="dropdown-menu slide-menu"   style="text-align:left;position:absolute!important;float:left!important;background:#000!important;">
                    <li><a routerLink="/callibrate" linkAttr="callibrate"><span class="glyphicon glyphicon-cog"></span> Configuration</a></li>
                    <li><a routerLink="/display" linkAttr="display"><span class="glyphicon glyphicon-globe"></span> Monitoring</a></li>
                  </ul>
                </li>     
                <li class="dropdown-submenu" *ngIf='showST==true'>
                  <a class="test active" tabindex="-1" href="#">
                  <span class="glyphicon glyphicon-phone"></span><br>
                  Subs. Tracing</a>
                  <ul class="dropdown-menu slide-menu"  style="text-align:left;position:absolute!important;float:left!important;background:#000!important;">
                    <li><a  routerLink="/configuration" linkAttr="configuration"><span class="glyphicon glyphicon-cog"></span> Configuration</a></li>
                    <li><a routerLink="/tracing" linkAttr="tracing"><span class="glyphicon glyphicon-phone"></span> Trace Results</a></li>                            
                  </ul>
                </li>          
              </ul>
           
          </li>
        <li *ngIf='showAdmin==true'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight: bold;color: #a0a0a0;">          
          ADMIN</a>
          <ul class="first-level">
            <li class="dropdown-submenu" *ngIf='showAdmin==true'><a routerLink="/roles" linkAttr="roles"><span class="glyphicon glyphicon-education"></span><br>Roles</a></li>
            <li class="dropdown-submenu" *ngIf='showAdmin==true'><a  routerLink="/users" linkAttr="users"><span class="glyphicon glyphicon-user"></span><br>Users</a></li>
            <li class="dropdown-submenu" *ngIf='showAccounts==true && showAdmin==true'><a  routerLink="/super" linkAttr="super"><span class="glyphicon glyphicon-king"></span><br>Tenants</a></li>
          </ul>
        
        </li>
        </ul>     
      <div class="panel-group">
          <div class="panel panel-default">            
            <div class="panel-body">
                    <h4>Subscriber Tracing configuration</h4>                    
                    <hr style="clear:both;">                                                            
                    <select id="changeGrp" class="form-control" style="width:150px!important;float:left;" *ngIf="allowConf==true">
                      <option [ngValue]="Select" selected>Select Group</option>
                      <option *ngFor="let grp of grps" [ngValue]="grp">{{grp}}</option>
                    </select>                   

                    <button type="submit" class="btn btn-default btn-primary" style="width:100px!important;float:left;margin-left:10px;" *ngIf="allowConf==true" (click)="setGroupName($event)">Submit</button>
                    <span *ngIf="!allowConf">{{configuredGroup}}</span> 
                    <div class="clearfix"></div>
                               
                    <mat-form-field style="float:left!important;">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>  
    
    <mat-table #table [dataSource]="dataSource" multiTemplateDataRows matSort>

    <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"  [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>          
    </ng-container>

    <ng-container matColumnDef="imsiid">
      <mat-header-cell *matHeaderCellDef mat-sort-sheader> IMSI</mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.imsiid}} </mat-cell>
    </ng-container>
      
    <ng-container matColumnDef="subs_name">
       <mat-header-cell *matHeaderCellDef mat-sort-sheader> Subs. Name</mat-header-cell>
       <mat-cell *matCellDef="let element" > {{element.subs_name}} </mat-cell>
    </ng-container>
          
    <ng-container matColumnDef="msisdn">
       <mat-header-cell *matHeaderCellDef mat-sort-sheader [ngClass]="'customWidthClass200'"> MSISDN</mat-header-cell>
       <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass200'"> {{element.msisdn}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="CSG_id">
       <mat-header-cell *matHeaderCellDef mat-sort-sheader [ngClass]="'customWidthClass250'"> Closed Subscription Group ID</mat-header-cell>
       <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass250'"> {{element.CSG_id}} </mat-cell>
    </ng-container>
        
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Subscriber Status </mat-header-cell>
      <mat-cell *matCellDef="let element">      
        <mat-slide-toggle  [checked]="(element.status==0)?true:((element.status==2)?false:false)" (change)="onChange($event,element.imsiid)"></mat-slide-toggle>           
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="stFeatureEnabled">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Tracing Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-slide-toggle [checked]="(element.stFeatureEnabled>0)?true:false"></mat-slide-toggle>
        </mat-cell>
    </ng-container>
       
    <ng-container matColumnDef="msg">
      <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass0'" mat-sort-header> </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass0'">
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="isAnalysisAvailable">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> Analysis </mat-header-cell>
      <mat-cell *matCellDef="let element">
       <button class='btn btn-success' *ngIf='element.isAnalysisAvailable=="Available"' (click)="extractData(element)"><span class="glyphicon glyphicon-signal"></span> Analysis</button>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">       
          <div class="example-element-description">  
              <div [innerHTML]="element.msg"></div>
          </div>
        </div>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element">
    </mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
    </mat-table>
    <mat-paginator  *ngIf="!noDataFound" (page)="changePage($event)" [length]=totalEntries [pageSize]=pageSize [pageSizeOptions]=pageSizeOptions></mat-paginator>
            
    <div class="alert alert-danger" *ngIf="noDataFound">
        {{errorMsg}}
    </div> 
            </div>
           
         </div>          
      </div>
  </div>
  </div>


  <div class="backdrop" [ngStyle]="{'display':displayBackDrop}"></div>
  
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayError}">
      <div class="modal-dialog" role="document"> 
        <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" aria-label="Close" (click)="onCloseHandledError()"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" *ngIf="!isOperationSuccess">Error</h4>
             <h4 class="modal-title" *ngIf="isOperationSuccess">Success</h4>
           </div>
          <div class="modal-body">
             <div class="alert alert-danger" *ngIf="!isOperationSuccess">{{errorMsg}}</div>
             <div class="alert alert-success" *ngIf="isOperationSuccess">{{errorMsg}}</div>
          </div>        
          <div class="modal-footer">         
            <button type="button" class="btn btn-default btn-primary" (click)="onCloseHandledError()">OK</button>
          </div>
         </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div>

  <footer>© 2005-2018  Ruckus Networks, an ARRIS Company. All rights reserved.</footer>
  <ngx-spinner></ngx-spinner>