<div class="wrapper">

    <div class="header">
       <a tabindex="-1" href="#" class="hamburger"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
       <div class="logo">
          CLOUD MANAGEMENT FOR  RUCKUS NETWORK SERVICES
       </div> 
       <ul class="header-right">      
          <li id="logoutBtn">{{username}}&nbsp;<a routerLink="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
            <div class="logout"><a routerLink="/logout">Logout</a></div>
          </li>
        </ul>
    </div>
  <!--
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>       
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" >
        <ul class="nav navbar-nav">   
            <li>
                <a routerLink="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>            
            </li>  
            <li class="active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Features
                <span class="caret"></span></a>
                <ul class="dropdown-menu">              
                  <li class="dropdown-submenu first-level" *ngIf='showLBS==true'>
                    <a class="test" tabindex="-1" href="#">Location <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a routerLink="/callibrate">Configuration</a></li>
                      <li><a routerLink="/display">Monitoring</a></li>
                    </ul>
                  </li>     
                  <li class="dropdown-submenu first-level" *ngIf='showST==true'>
                    <a class="test" tabindex="-1" href="#">Subscriber Tracing <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/configuration">Configuration</a></li>
                        <li><a routerLink="/tracing">Trace Results</a></li>                            
                    </ul>
                  </li>          
                </ul>
            </li> 
          <li *ngIf='showAdmin==true'>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li *ngIf='showAdmin==true'><a routerLink="/roles">Roles</a></li>
              <li *ngIf='showAdmin==true'><a routerLink="/users">Users</a></li>
              <li *ngIf='showAccounts==true && showAdmin==true'><a routerLink="/super">Tenants</a></li>
            </ul>
          </li>     
        </ul>
   
        </div>
      </div>
    </nav>  -->

            <div class="col-lg-12">              
               
                <ul class="sideMenu">    
                    <li>              
                      <ul class="first-level"> 
                         <li class="dropdown-submenu" style="padding-top:5px!important;">
                              <a routerLink="/dashboard" tabindex="-1" href="#">
                                    <span class="glyphicon glyphicon-dashboard"></span><br>
                                    Dashboard </a>                        
                         </li>                             
                      </ul>
                    </li>              
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight: bold;color: #a0a0a0;">            
                      FEATURES  </a>
                        <ul class="first-level"> 
                          <li class="dropdown-submenu" *ngIf='showLBS==true'>
                            <a class="test active" tabindex="-1" href="#" >
                              <span class="glyphicon glyphicon-map-marker"></span><br>
                              Location </a>
                            <ul class="dropdown-menu slide-menu"   style="text-align:left;position:absolute!important;float:left!important;background:#000!important;">
                              <li><a  routerLink="/callibrate" linkAttr="callibrate">Configuration</a></li>
                              <li><a routerLink="/display" linkAttr="display">Monitoring</a></li>
                            </ul>
                          </li>     
                          <li class="dropdown-submenu" *ngIf='showST==true'>
                            <a class="test" tabindex="-1" href="#">
                            <span class="glyphicon glyphicon-phone"></span><br>
                            Subs. Tracing</a>
                            <ul class="dropdown-menu slide-menu"  style="text-align:left;position:absolute!important;float:left!important;background:#000!important;">
                              <li><a routerLink="/configuration" linkAttr="configuration">Configuration</a></li>
                              <li><a routerLink="/tracing" linkAttr="tracing">Trace Results</a></li>                            
                            </ul>
                          </li>          
                        </ul>
                     
                    </li>
                  <li *ngIf='showAdmin==true'>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight: bold;color: #a0a0a0;">          
                    ADMIN</a>
                    <ul class="first-level">
                      <li class="dropdown-submenu" *ngIf='showAdmin==true'><a routerLink="/roles" linkAttr="roles"><span class="glyphicon glyphicon-education"></span><br>Roles</a></li>
                      <li class="dropdown-submenu" *ngIf='showAdmin==true'><a routerLink="/users" linkAttr="users"><span class="glyphicon glyphicon-user"></span><br>Users</a></li>
                      <li class="dropdown-submenu" *ngIf='showAccounts==true && showAdmin==true'><a  routerLink="/super" linkAttr="super"><span class="glyphicon glyphicon-king"></span><br>Tenants</a></li>
                    </ul>
                  
                  </li>
                  </ul>                
              
              <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-body">              
                        <h4>Callibrate Floor Plan</h4>
                        <hr>

<div style="clear:both;">
        <ul class="breadcrumb">
            <li><a href="#">Step 1 <p style="line-height: 23px;"><small>Callibrate the floor plan</small></p></a></li>
            <li><a href="#">Step 2 <p style="line-height: 23px;"><small>Place Access points </small></p></a></li>
        </ul>                
        
        <ul class="breadcrumb2">        
                <li><a routerLink="/configure"  (click)="saveCoordinates($event)" style="margin-left:10px;padding-left: 20px;">Save and Next</a></li>
        </ul>
</div>

<div style="float:left;clear:both;padding:15px;">
        <label>Please upload a floor plan image &nbsp;&nbsp;&nbsp;</label>
        <input type="file" accept='text/plain' id="floor_plan" (change)="onFileChange($event)" #fileInput>  
</div>  
      
<div style="clear:both;">        
</div>
<div class="dragscroll floorPlanCanvas">
  <canvas id="myCanvas" width="500" height="500"></canvas>
</div>
<div class="mapGoogle">
<app-google-map [showMarkers]="showMarkers"  [coordinateMapping]="coordinateMapping" (valueChange)='clearMarkers($event)' (undoMarking) = 'undoMarkers($event)' (beginMarking) = 'addMarkers($event)'></app-google-map>
</div>

<div style="clear:both;margin-top:25px;">
  <br><br>
  <p style="text-align:left;float:left;padding-left:10px;"><b>You have chosen the following points.</b></p>
  <ul id="coordinateCol" style="width:400px;float:left;padding:0px;margin:0px;padding-left:10px;list-style-type:none;clear:both;">
    <li  style="padding:10px;padding-left:0px;border-bottom:1px solid #333;"><b>Latitude, Longitude</b></li>
    <li *ngFor="let coordinate of allCoordinates" style="padding:10px;padding-left:0px;border-bottom:1px solid #333;">
        {{coordinate}}
    </li>
  </ul>
  <ul id="pixelCol" style="width:400px;float:left;padding:0px;margin:0px;list-style-type:none;">
      <li  style="padding:10px;padding-left:0px;border-bottom:1px solid #333;"><b>X Pixel, Y Pixel</b></li>
      <li *ngFor="let point of allPoints" style="padding:10px;padding-left:0px;border-bottom:1px solid #333;">
          {{point}}
      </li>
  </ul>
  <ul style="width:400px;float:left;padding:0px;margin:0px;list-style-type:none;">
      <li  style="padding:10px;padding-left:0px;border-bottom:1px solid #333;"><b>Action</b></li>
      <li *ngFor="let point of allPoints" style="padding:10px;padding-left:0px;border-bottom:1px solid #333;">
          <button class="close" (click)="deleteRow($event)" [attr.data-pointvalue]="point">&nbsp;x&nbsp;</button>
      </li>
  </ul>
  </div>
  <div style="clear:both;"></div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <footer>© 2005-2018  Ruckus Networks, an ARRIS Company. All rights reserved.</footer>