<div class="wrapper">

    <div class="header">    
        <div class="logo">
          <a tabindex="-1" href="#" class="hamburger"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
          <div class="title">CLOUD MANAGEMENT FOR  RUCKUS NETWORK SERVICES</div>
          <ul class="header-right">      
              <li id="logoutBtn">{{username}}&nbsp;<a routerLink="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
              <div class="logout"><a routerLink="/logout">Logout</a></div>
              </li>      
            </ul>
        </div> 
      </div>
     
  <div class="col-lg-12">    
          <ul class="sideMenu">    
              <li>              
                <ul class="first-level"> 
                   <li class="dropdown-submenu" style="padding-top:5px!important;">
                        <a class="active" routerLink="/dashboard" tabindex="-1" href="#">
                              <span class="glyphicon glyphicon-dashboard"></span><br>
                              Dashboard </a>                        
                   </li>                             
                </ul>
              </li>              
              <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight: bold;color: #a0a0a0;">            
                FEATURES  </a>
                  <ul class="first-level"> 
                    <li class="dropdown-submenu" *ngIf='showLBS==true'>
                      <a class="test" tabindex="-1" href="#" >
                        <span class="glyphicon glyphicon-map-marker"></span><br>
                        Location </a>
                      <ul class="dropdown-menu slide-menu"   style="text-align:left;position:absolute!important;float:left!important;background:#000!important;">
                        <li><a routerLink="/callibrate" linkAttr="callibrate"><span class="glyphicon glyphicon-cog"></span> Configuration</a></li>
                        <li><a routerLink="/display" linkAttr="display"><span class="glyphicon glyphicon-globe"></span> Monitoring</a></li>
                      </ul>
                    </li>     
                    <li class="dropdown-submenu" *ngIf='showST==true'>
                      <a class="test" tabindex="-1" href="#">
                      <span class="glyphicon glyphicon-phone"></span><br>
                      Subs. Tracing</a>
                      <ul class="dropdown-menu slide-menu"  style="text-align:left;position:absolute!important;float:left!important;background:#000!important;">
                        <li><a routerLink="/configuration" linkAttr="configuration"><span class="glyphicon glyphicon-cog"></span> Configuration</a></li>
                        <li><a routerLink="/tracing" linkAttr="tracing"><span class="glyphicon glyphicon-phone"></span> Trace Results</a></li>                            
                      </ul>
                    </li>          
                  </ul>
               
              </li>
            <li *ngIf='showAdmin==true'>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight: bold;color: #a0a0a0;">          
              ADMIN</a>
              <ul class="first-level">
                <li class="dropdown-submenu" *ngIf='showAdmin==true'><a id="rolesPage" routerLink="/roles" linkAttr="roles"><span class="glyphicon glyphicon-education"></span><br>Roles</a></li>
                <li class="dropdown-submenu" *ngIf='showAdmin==true'><a id="usersPage" routerLink="/users" linkAttr="users"><span class="glyphicon glyphicon-user"></span><br>Users</a></li>
                <li class="dropdown-submenu" *ngIf='showAccounts==true && showAdmin==true'><a  routerLink="/super" linkAttr="super"><span class="glyphicon glyphicon-king"></span><br>Tenants</a></li>
              </ul>            
            </li>
      </ul>          


      <div class="panel-group">
          <div class="panel panel-default">            
            <div class="panel-body">       
            <h4 style="float:left;">Dashboard</h4>            
            <span style="float:right;font-size:12px;line-height:32px;"><b>Last Login:</b> {{lastLogin}}</span>          
            <hr style="clear:both;">                          
                  <div class="row" style="padding:0px 20px;box-sizing:border-box;">                  
                  <div class="col-lg-12">
                  <div class="alert alert-success">Welcome {{username}} to Ruckus Network Services. Click <a routerLink="/confirm">here</a> to change your password.</div>
                  </div>
                  </div>
                  <div class="row" *ngIf='showAccounts==true && showAdmin==true' style="padding:0px 20px;box-sizing:border-box;">   
                  <div class="col-lg-8">
                      <h4>Number of accounts</h4> 
                      <h1 style="text-align:center;padding-top:30px;padding-bottom:30px;">{{allAccounts}}</h1>
                  </div>                                                   
                  <div class="col-lg-4" >
                      <h4>Feature wise tenants</h4>
                      <canvas baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                      [colors]="doughnutChartColors"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>                                                          
                  </div>                 
                  </div>                                                       
                  <hr *ngIf='showAccounts==true && showAdmin==true'>                       
                  <div class="row" *ngIf="showAccounts && showAdmin==true" style="padding-top:10px;padding-bottom:10px;">
                    <div class="col-lg-8 col-sm-12">   
                      <div class="form-group">
                        <label for="listOrganizations" style="float:left;line-height:30px;padding-right:10px!important;">Tenant</label>                   
                        <select class="form-control" id="listOrganizations" style="float:left;width:50%!important;margin-bottom:20px;">
                          <option [attr.data-row]="orgId">{{orgName}}</option>                                                    
                          <option *ngFor="let opt of org_options" [attr.data-row]="opt[0]">{{opt[1]}}</option>                                                    
                        </select>               
                      </div>           
                    </div>                      
                    <div class="col-lg-4 col-sm-12">
                    <h4>Total Users - {{allUsers.length}}</h4> 
                    </div>                 
                  </div>  
                  <div class="row"><br></div>                
                  <div class="row" *ngIf='showAdmin==true'>

                    <div class="col-lg-8 col-md-12" *ngIf="barChartLabels1.length<=10"> 
                      <canvas id="loginAttempts" baseChart
                      [datasets]="barChartData1"
                      [labels]="barChartLabels1"
                      [options]="barChartOptions"
                      [legend]="barChartLegend1"                      
                      [chartType]="'bar'"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                    </div>                                                 

                    <div class="col-lg-12 col-md-12" *ngIf="barChartLabels1.length>10"> 
                        <canvas id="loginAttempts" baseChart
                        [datasets]="barChartData1"
                        [labels]="barChartLabels1"
                        [options]="barChartOptions"
                        [legend]="barChartLegend1"                      
                        [chartType]="'bar'"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                    </div>                                                 

                    <div class="col-lg-4 col-md-12 scrollable" *ngIf="barChartLabels1.length<=10">                       
                      <table class="table table-hover">
                        <thead>
                          <tr><th>User</th><th>Last Login</th></tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of allUsers;let i = index; trackBy: customTrackBy">
                            <td>{{user}}</td>
                            <td>{{lastLogins[i]}}</td>
                          </tr>
                        </tbody>
                      </table>                      
                    </div>         
                    
                    <div class="col-lg-12 col-md-12" *ngIf="barChartLabels1.length>10" style="padding:0px 10px;">                       
                        <table class="table table-hover">
                          <thead>
                            <tr><th>User</th><th>Last Login</th></tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let user of allUsers;let i = index; trackBy: customTrackBy">
                              <td>{{user}}</td>
                              <td>{{lastLogins[i]}}</td>
                            </tr>
                          </tbody>
                        </table>                      
                    </div>          
                  </div>     
          </div>
      </div>
      </div>
  </div>
  </div>
<footer>© 2005-2018  Ruckus Networks, an ARRIS Company. All rights reserved.</footer>
<ngx-spinner></ngx-spinner>