<div class="wrapper">
<div class="header">    
    <div class="logo">
      <a tabindex="-1" href="#" class="hamburger"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
      <div class="title">CLOUD MANAGEMENT FOR  RUCKUS NETWORK SERVICES</div>
      <ul class="header-right">      
          <li id="logoutBtn">{{username}}&nbsp;<a routerLink="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
          <div class="logout"><a routerLink="/logout">Logout</a></div>
          </li>      
        </ul>
    </div> 
  </div>
 
<div class="col-lg-12">  
      <ul class="sideMenu">    
          <li>              
            <ul class="first-level"> 
               <li class="dropdown-submenu active" style="padding-top:5px!important;">
                    <a [routerLink]="checkLink ? '/dashboard' : null" tabindex="-1" href="#">
                          <span class="glyphicon glyphicon-dashboard"></span><br>
                          Dashboard </a>                        
               </li>                             
            </ul>
          </li>              
          <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight: bold;color: #a0a0a0;">            
            FEATURES  </a>
              <ul class="first-level"> 
                <li class="dropdown-submenu" *ngIf='showLBS==true'>
                  <a class="test" tabindex="-1" href="#">
                    <span class="glyphicon glyphicon-map-marker"></span><br>
                    Location </a>
                  <ul class="dropdown-menu slide-menu"   style="text-align:left;position:absolute!important;float:left!important;background:#000!important;">
                    <li><a [routerLink]="checkLink ? '/callibrate' : null" data-link="callibrate"><span class="glyphicon glyphicon-cog"></span> Configuration</a></li>
                    <li><a [routerLink]="checkLink ? '/display' : null" data-link="display"><span class="glyphicon glyphicon-globe"></span> Monitoring</a></li>
                  </ul>
                </li>     
                <li class="dropdown-submenu" *ngIf='showST==true'>
                  <a class="test" tabindex="-1" href="#">
                  <span class="glyphicon glyphicon-phone"></span><br>
                  Subs. Tracing</a>
                  <ul class="dropdown-menu slide-menu"  style="text-align:left;position:absolute!important;float:left!important;background:#000!important;">
                    <li><a [routerLink]="checkLink ? '/configuration' : null" data-link="configuration"><span class="glyphicon glyphicon-cog"></span> Configuration</a></li>
                    <li><a [routerLink]="checkLink ? '/tracing' : null" data-link="tracing"><span class="glyphicon glyphicon-phone"></span> Trace Results</a></li>                            
                  </ul>
                </li>          
              </ul>
           
          </li>
        <li *ngIf='showAdmin==true'>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight: bold;color: #a0a0a0;">          
          ADMIN</a>
          <ul class="first-level">
            <li class="dropdown-submenu" *ngIf='showAdmin==true'><a class="active" [routerLink]="checkLink ? '/roles' : null" data-link="roles"><span class="glyphicon glyphicon-education"></span><br>Roles</a></li>
            <li class="dropdown-submenu" *ngIf='showAdmin==true'><a [routerLink]="checkLink ? '/users' : null" data-link="users"><span class="glyphicon glyphicon-user"></span><br>Users</a></li>
            <li class="dropdown-submenu" *ngIf='showAccounts==true && showAdmin==true'><a [routerLink]="checkLink ? '/super' : null" data-link="super"><span class="glyphicon glyphicon-king"></span><br>Tenants</a></li>
          </ul>
        
        </li>
        </ul>           

  <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Roles</h4>
                    <hr>
    
                    <mat-form-field style="float:left!important;">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>  
      
                    <mat-table #table [dataSource]="dataSource" multiTemplateDataRows matSort style="clear:both!important;">
                       
                      <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef> #</mat-header-cell>
                            <mat-cell *matCellDef="let element; let i= dataIndex"> {{i+1}} </mat-cell>
                      </ng-container>
      
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef  mat-sort-header> Name</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span *ngIf="!element.beginEdits">{{element.name}}</span>
                            <input *ngIf="element.beginEdits" type="text" class="form-control" name="name" value="{{element.name}}"  [(ngModel)]="element.name">
                        </mat-cell>
                      </ng-container>
                     
                      <ng-container matColumnDef="selectedOptions">
                         <mat-header-cell *matHeaderCellDef  mat-sort-header>Features</mat-header-cell>
                          <mat-cell *matCellDef="let element;">
                            <span *ngIf="!element.beginEdits">{{element.selectedOptions}}</span>
                            <angular4-multiselect [data]="dropdownList"  [(ngModel)]="element.selectedItems" *ngIf="element.beginEdits"
                            [settings]="dropdownSettings"
                            (onSelect)="onItemSelect($event,ELEMENT_DATA.indexOf(element))" 
                            (onDeSelect)="OnItemDeSelect($event,ELEMENT_DATA.indexOf(element))"
                            (onSelectAll)="onSelectAll($event,ELEMENT_DATA.indexOf(element))"
                            (onDeSelectAll)="onDeSelectAll($event,ELEMENT_DATA.indexOf(element))"></angular4-multiselect>
                          </mat-cell>
                      </ng-container>
                      
                      <ng-container matColumnDef="permission">
                        <mat-header-cell *matHeaderCellDef  mat-sort-header>Permission</mat-header-cell>
                        <mat-cell *matCellDef="let element;">
                          <span *ngIf="!element.beginEdits">{{element.permission}}</span>
                          <select *ngIf="element.beginEdits" class="form-control" [(ngModel)]="selectedPermission[ELEMENT_DATA.indexOf(element)]" (ngModelChange)="onChange($event,element)"><option *ngFor="let accessType of accessTypes" [ngValue]="accessType">{{accessType}}</option></select>
                        </mat-cell>
                      </ng-container>                      
      
                      <ng-container matColumnDef="beginEdits">  
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                          <mat-cell *matCellDef="let element">                      
                              <button class="btn btn-warning" *ngIf="!element.beginEdits && element.name!='ADMIN' && element.name!='MONITOR'" value="Edit" (click)="editRole($event,ELEMENT_DATA.indexOf(element))"><i class="fa fa-edit"></i></button>
                              <button class="btn btn-warning" *ngIf="element.beginEdits" value="Save" (click)="saveRole(ELEMENT_DATA.indexOf(element))"><i class="fa fa-save"></i></button>
                              &nbsp;<button class="btn btn-danger" *ngIf="!element.beginEdits && element.name!='ADMIN' && element.name!='MONITOR'" value="Delete" (click)="deleteRole($event,ELEMENT_DATA.indexOf(element))"><i class="fa fa fa-trash"></i></button>
                              <button class="btn btn-danger" *ngIf="element.beginEdits" value="Cancel" (click)="cancelChanges($event,ELEMENT_DATA.indexOf(element))"><i class="fa fa-remove"></i></button>                      
                          </mat-cell> 
                      </ng-container>
                                   
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let element;  columns: displayedColumns;">
                      </mat-row>
                      
                    </mat-table>
                    <mat-paginator [length]=totalEntries [pageSize]=pageSize [pageSizeOptions]="pageSizeOptions"></mat-paginator>                        
    <button type="button" class="btn btn-default btn-primary" (click)="addRole($event)">Add Role</button>
</div>
</div>          
</div>
</div>

<div class="backdrop" [ngStyle]="{'display':displayBackDrop}"></div>

<div class="modal" tabindex="0" role="dialog"  [ngStyle]="{'display':display}">
<div class="modal-dialog" role="document"> 
  <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Confirm</h4>
     </div>
    <div class="modal-body">
       <p>You have unsaved changes. Do you wish to continue without saving?</p>
    </div>        
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-success" (click)="continueWithoutSaving()">Continue without Saving</button>
      <button type="button" class="btn btn-default btn-primary" (click)="saveChanges()">Save</button>
      <button type="button" class="btn btn-default" (click)="onCloseHandled()">Cancel</button>
    </div>
   </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayError}">
    <div class="modal-dialog" role="document"> 
      <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" aria-label="Close" (click)="onCloseHandledError()"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" *ngIf="!isOperationSuccess">Error</h4>
           <h4 class="modal-title" *ngIf="isOperationSuccess">Success</h4>
         </div>
        <div class="modal-body">
           <div class="alert alert-danger" *ngIf="!isOperationSuccess">{{errorMsg}}</div>
           <div class="alert alert-success" *ngIf="isOperationSuccess">{{errorMsg}}</div>
        </div>        
        <div class="modal-footer">         
          <button type="button" class="btn btn-default btn-primary" (click)="onCloseHandledError()">OK</button>
        </div>
       </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>  
</div>
<footer>© 2005-2018  Ruckus Networks, an ARRIS Company. All rights reserved.</footer>
<ngx-spinner></ngx-spinner>