<div class="header">    
        <div class="logo">          
          <div class="title">CLOUD MANAGEMENT FOR  RUCKUS NETWORK SERVICES</div>
        </div> 
</div>
<div class="row" style="clear:both;">
		<div class="col-sm-3"></div>
	  <div class="col-sm-6">
			<div class="account-wall" style="padding:40px;">					
					<div class="panel-group">
							<div class="panel panel-default">            
							<div class="panel-body">       
							<!--<img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">-->
							<h4 style="float:left;">Logout</h4>
							<hr style="clear:both;"> 
							<p>You have been successfully logged out.</p>
				         	<p> Please <a routerLink="/login">Login</a> again to access the dashboard.</p>		
							</div>
							</div>
				    </div>
			</div>
	  </div>
</div>
<footer>© 2005-2018  Ruckus Networks, an ARRIS Company. All rights reserved.</footer>