<div class="header">
		<div class="logo">
			CLOUD MANAGEMENT FOR  RUCKUS NETWORK SERVICES
		</div> 		
</div>
<div class="row" style="clear:both;">
	<div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="account-wall" style="padding:40px;">
            <p>You have been successfully logged out.</p>
            <p> Please <a routerLink="/login">Login</a> again to access the dashboard.</p>	
		</div>
	</div>
</div>
<footer>© 2005-2018  Ruckus Networks, an ARRIS Company. All rights reserved.</footer>